In [12]:
from google.cloud import bigquery
import os
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]="/Users/raghadbajahlan/downloads/Example1-7f379c270984.json"

In [13]:
# Create a "Client" object
client = bigquery.Client()

In [14]:
# Construct a reference to the "hacker_news" dataset
dataset_ref = client.dataset("covid19_ecdc", project="bigquery-public-data")

# API request - fetch the dataset
dataset = client.get_dataset(dataset_ref)

In [15]:
# List all the tables in the "hacker_news" dataset
tables = list(client.list_tables(dataset))

# Print names of all tables in the dataset (there are four!)
for table in tables:  
    print(table.table_id)

covid_19_geographic_distribution_worldwide

In [17]:
# Construct a reference to the "full" table
table_ref = dataset_ref.table("covid_19_geographic_distribution_worldwide")

# API request - fetch the table
table = client.get_table(table_ref)

In [18]:
# Preview the first five lines of the "full" table
client.list_rows(table, max_results=5).to_dataframe()

<ipython-input-18-d21696d05022>:2: UserWarning: Cannot use bqstorage_client if max_results is set, reverting to fetching data with the tabledata.list endpoint.
  client.list_rows(table, max_results=5).to_dataframe()

,date,day,month,year,daily_confirmed_cases,daily_deaths,confirmed_cases,deaths,countries_and_territories,geo_id,country_territory_code,pop_data_2019
0,2019-12-31,31,12,2019,0,0,0,0,United_Arab_Emirates,AE,ARE,9770526
1,2019-12-31,31,12,2019,0,0,0,0,Afghanistan,AF,AFG,38041757
2,2019-12-31,31,12,2019,0,0,0,0,Armenia,AM,ARM,2957728
3,2019-12-31,31,12,2019,0,0,0,0,Austria,AT,AUT,8858775
4,2019-12-31,31,12,2019,0,0,0,0,Australia,AU,AUS,25203200

In [19]:
#Develop a hypothesis
#1- Maximum increasing number cases of CVID-19 was on March and April
#2- Number of cases in the countries that started the quarantine early like KSA and South-Koria was less in Juns than others

In [23]:
maximum_casses_query = """
        SELECT countries_and_territories
        FROM `bigquery-public-data.openaq.global_air_quality`
        WHERE countries_and_territories = 'United_Arab_Emirates'
        """

safe_config = bigquery.QueryJobConfig(maximum_bytes_billed=10**10)
query_job = client.query(maximum_casses_query, job_config=safe_config)

# API request - run the query, and convert the results to a pandas DataFrame
popular_comments = query_job.to_dataframe()

# Print the first five rows of the DataFrame
popular_comments.head()

BadRequest: 400 Table name "bigquery-public-data:covid19_ecdc" missing dataset while no default dataset is set in the request.

(job ID: 86d0b08d-1229-420c-b042-186d0665d37f)

                   -----Query Job SQL Follows-----

    |    .    |    .    |    .    |    .    |    .    |    .    |
   1:
   2:        SELECT country_territory_code
   3:        FROM `bigquery-public-data:covid19_ecdc`
   4:        WHERE countries_and_territories = 'United_Arab_Emirates'
   5:
    |    .    |    .    |    .    |    .    |    .    |    .    |